*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin-bottom: 0 !important;
}

a{
  text-decoration: none;
}

.t-center{
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar nav{
  display: flex;
  gap: 20px;
}

.navbar nav .navlink{
  text-decoration: none;
  color: black;
}

.productcard{
  padding: 10px;
}

.productcard .card-title{
  font-size: 16px;
}

.productcard .card-img-top {
  max-height: 100px;
  object-fit: contain;
}

.carttable tr img{
  width: 30px;
}

.singleProduct .productImage{
  max-height: 400px;
  margin: auto;
  display: block;
}

.singleProduct .productDesc{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.qtybox{
  width: 50px;
}