.t-center{
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar nav{
  display: flex;
  gap: 20px;
}

.navbar nav .navlink{
  text-decoration: none;
  color: black;
}

.productcard{
  padding: 10px;
}

.productcard .card-title{
  font-size: 16px;
}

.productcard .card-img-top {
  max-height: 100px;
  object-fit: contain;
}

.carttable tr img{
  width: 30px;
}
